#content {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	padding: 0;
}

#header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 0;
	background: rgba(0,0,0,0.4);
	border: 1px solid rgb(50,50,50);
}

#content section#subscriptions {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

#subscriptions .wrapper {
	display: flex;
	flex-flow: column;
}

button {
	background: rgba(0,0,0,0.4);
	border: 1px solid rgb(50,50,50);
	padding: .5em 1em;
	font-size: 1.25em;
}

#header a {
	color: white;
}

#header .placeholder {
	flex-grow: 1;
}

#header > .logo {
	height: 100%;
	width: auto;
}

#content section {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
	padding: 2.5em;
	box-sizing: border-box;
}

section#main {
	padding-left: 15%;
}

#background, #overlay {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

h1 {
	color: white;
	font-size: 4em;
	margin: .5em 0;
}

#background {
	background: 10%/100em url(/static/noise.svg);
}

#overlay {
	background-image: radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(42% 53% at 34% 72%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, #D3FF6D9C 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #8A4FFFF5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #6DFFAEF5 24%, #073AFF00 100%),linear-gradient(125deg, #4EB5FFFF 1%, #4C00FCFF 100%);
	mix-blend-mode: multiply;
	filter: brightness(70%);
}

section#about {
	padding: 0 15%;
}

#about .wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5em;
	line-height: 175%;
}

#about h2 {
	margin-bottom: 1.5em;
}

#about span, #about ul {
	color: rgb(60,60,60);
}

ul {
	padding-left: 0;
}
